 body{
    background-color: rgb(235, 226, 226);
 }
 section {
    height: 550px;
    width: 350px;
    background: white;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 20px;
}
section:hover{
    .icons{
        display: flex;
    }
    .detail{
        opacity: 1;
    }
    img{
        height: 500px;
    }
}

img {
    height:550px;
    width: 350px;
    border-radius: 20px;
}
img:hover{
    transform:  translateY(-20%) ;
    transition: .9s;

}
.icons{ 
    font-size: 30px;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: -180px;
    margin-left: 30px;
    position: fixed;
    display: none;
}
.icons i {
    background-color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
i:hover{
    background-color: aqua;
    transform: rotateY(340deg);
    opacity: 1;
    transition: 1s;
    background-color: black;
    color: white;
}

.detail{
    opacity: 0;
    margin-top:-120px;
    text-overflow: hidden;
}
